/.idea
/target
dependencies/cs380c_lab1/csc
dependencies/cs380c_lab1/examples/check-one.sh
dependencies/cs380c_lab1/examples/check.sh
dependencies/cs380c_lab1/examples/collatz.c
dependencies/cs380c_lab1/examples/gcd.c
dependencies/cs380c_lab1/examples/hanoifibfac.c
dependencies/cs380c_lab1/examples/loop.c
dependencies/cs380c_lab1/examples/mmm.c
dependencies/cs380c_lab1/examples/prime.c
dependencies/cs380c_lab1/examples/regslarge.c
dependencies/cs380c_lab1/examples/sieve.c
dependencies/cs380c_lab1/examples/sort.c
dependencies/cs380c_lab1/examples/struct.c
dependencies/cs380c_lab1/lab1/compile.sh
dependencies/cs380c_lab1/lab1/example1.c
dependencies/cs380c_lab1/lab1/example2.c
dependencies/cs380c_lab1/lab1/example3.c
dependencies/cs380c_lab1/lab1/README
dependencies/cs380c_lab1/lab1/run.sh
dependencies/cs380c_lab1/src/csc
dependencies/cs380c_lab1/src/csg.c
dependencies/cs380c_lab1/src/csg.h
dependencies/cs380c_lab1/src/csp.c
dependencies/cs380c_lab1/src/css.c
dependencies/cs380c_lab1/src/css.h
dependencies/cs380c_lab1/src/make.sh
dependencies/cs380c_lab1/src/README
dependencies/depile
